<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="local" value="/home/shane/protonos/tools/nuget-local" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="bflat-github" value="https://nuget.pkg.github.com/bflattened/index.json" />
  </packageSources>
</configuration>
